*{
	box-sizing: border-box;
}

body {
	
	font-family: "EB+Garamond";

}	


.code {
	background-color: #e4f0f3;
	padding: 10px 30px;
	white-space: pre-line;
	line-height: 200%;
	margin-bottom: 15px;
	margin-top: 10px;
}
#navbar {
  	min-width: 250px; 
  	max-width: 350px;
  	position: fixed;
	margin: 15px;
}
#main-doc {
	max-width: 900px;
	position: absolute;
  	margin-left: 310px;
  	padding: 20px;
  	margin-bottom: 110px;
}
#navbar header {
	color: #5e919e;
	font-size: 35px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

#navbar a {
    text-decoration: none;
	color: black;
	font-size: 20px;
	
}
#navbar ul {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
    padding-inline-start: 0;

}
#navbar hr {
	width: 100%;
	border-color: #76b5c5;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-section header {
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color:  #76b5c5; 
}
.main-section ul,ol {
	color: #76b5c5;	
}
.main-section ul span {
	color: black;	
}
.main-section ol span,code {
	color: black;	
}

@media(max-width: 767px) {
	body {
		display: block;
	}
	.code {
		max-width: 100%;
	}
	#navbar {
		text-align: center;
		position: static;
		align-items: center;
		max-width: 100%;
	}
	#main-doc {
		max-width: 100%;
		margin: 10px;
	}
}